# Python
venv/
__pycache__/
*.pyc

# ML models and datasets
*.csv
*.pkl
*.h5
*.pt

# Environment
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db

output.json
backend/service-account-key.json
backend/engine/ResPlan_extracted.csv
backend/engine/ResPlan_Extracted/
*.png
backend/engine/*.csv
backend/engine/*.pkl
*.exe

# Generated Models and Tests
backend/static/models/*.ply
backend/engine/test_results.txt

